{% extends 'base.html' %}

{% block titulo %} Lista de Juegos {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">Listar Juegos</div>
    <div class="card-body">
        <h4 class="card-title">Juegos</h4>

        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td >1</td>
                        <td>Minecraft </td>
                        <td>Imagen.jgp</td>
                        <td>Juego de cubos</td>
                        <td>Crear | Unirse</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-body-secondary">

    </div>
</div>


{% endblock %} 
