body {
    background-color: gray;
}
.navbar {
    padding-left: 0;
    padding-top: 0;
}
.logo-link {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.logo {
    width: 100px;
    height: auto;
    display: block;
}

.navbar {
    padding-left: 0;
    padding-top: 0;
    background-color: #222; /* el color que quieras */
}

.navbar .nav-link {
    color: white;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    background-color: white;
    color: black;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #333;
}
.Title {
    font-family: 'Comic Neue', cursive;
    color: purple;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px; 
}

.viewport {
    width: 800px;
    overflow: hidden;
}

.track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: max-content
}

.game {
    width: 200px;  
    height: 120px;
    margin: 5px;
    background: #222;
    border-radius: 10px;
    overflow: hidden; 
    flex-shrink: 0;
}

.game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.arrow {
    background: rgba(0, 0, 0, 0.7); /* Un negro con un poco de transparencia queda elegante */
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; /* Flechas circulares */
    margin: 0 15px;      /* Separa un poco las flechas de los juegos */
    transition: background 0.3s;
}

.arrow:hover {
    background: purple; /* Cambia a púrpura al pasar el mouse como tu título */
}