body {
    background-color: gray;
}
.navbar {
    padding-left: 0;
    padding-top: 0;
}
.logo-link {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.logo {
    width: 100px;
    height: auto;
    display: block;
}

.navbar {
    padding-left: 0;
    padding-top: 0;
    background-color: #222; /* el color que quieras */
}

.navbar .nav-link {
    color: white;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    background-color: white;
    color: black;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #333;
}